<template>
  <div class="entry">
    <div class="authorization">
      <div class="authorization-field">
        <div class="authorization-field-icon">
          <i class="fa fa-user" aria-hidden="true"/>
        </div>
        <div class="authorization-field-contact">
          <div>Логин</div>
          <input type="text" v-model="email">
        </div>
      </div>

      <div class="authorization-field">
        <div class="authorization-field-icon">
          <i class="fa fa-pencil" aria-hidden="true"/>
        </div>
        <div class="authorization-field-contact">
          <div>Пароль</div>
          <input type="text" v-model="password">
        </div>
      </div>

      <div class="authorization-error">
        <span v-show="false">Невереный логин или пароль</span>
      </div>

      <div class="authorization-button">
        <button
            :disabled="block"
            @click="login({email, password})"
        >
          Войти
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  export default {
    name: 'Home',
    data() {
      return {
        email: '',
        password: '',
      }
    },
    computed: {
      ...mapGetters({
        block: 'auth/block'
      })
    },
    methods: {
      ...mapActions({
        login: 'auth/login'
      })
    }
  }
</script>

<style lang="scss">
  .entry {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .authorization {
      width: 400px;
      background: white;
      border-radius: 4px;
      border: 1px solid #cecece;
      padding: 16px;

      &-field {
        text-align: left;
        display: flex;
        align-items: center;

        &-icon {
          margin-right: 12px;
          font-size: 20px;
        }

        &-contact {
          input {
            width: 210px;
          }
        }
      }

      &-error {
        color: red;
        padding: 8px 0;
        height: 24px;
      }
      &-button  {
        button {
          background: white;
          border: 1px solid black;
          border-radius: 2px;
          line-height: 24px;
          width: 140px;
          outline: none;
          &:hover {
            cursor: pointer;
            background: #dadada;
          }
          &:disabled {
            background: #dadada;
            color: gray;
            cursor: default;
          }
        }
      }
    }
  }
</style>