<template>
  <div class="modal">
    <div class="modal-content">
      <div class="modal-content-text">
        {{message}}
      </div>
      <div class="modal-content-content">
        <slot name="content"/>
      </div>
      <div class="modal-content-button">
        <slot name="button"/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Modal',
  props: {
    message: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss">
  .modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 400px;
      &-text {
        font-weight: bold;
        margin-bottom: 16px;
      }
      &-button {
        button {
          background: white;
          border: 1px solid black;
          border-radius: 2px;
          line-height: 24px;
          width: 140px;
          outline: none;
          margin-right: 4px;
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            cursor: pointer;
          }
          &:disabled {
            background: #dadada;
            color: gray;
            cursor: default;
          }
        }
        .save {
          background: green;
          &:hover {
            background: #42b983;
          }
        }
        .cancel {
          background: red;
          &:hover {
            background: #ff5050;
          }
        }
      }
    }
  }
</style>
