<template>
  <div class="contacts">
    <left-panel
        @addContact="addContact"
        @showContact="showContact"
    />

    <right-panel
        v-if="panel"
        :contact="contact"
        :newContact="newContact"
        @clearContact="clearContact"
    />

    <div class="logout">
      <div>Вы зашли, как:</div>
      <div>{{auth.user}}</div>
      <button
          :disabled="block"
          @click="logout"
          class="cancel"
      >
        <i class="fa fa-sign-in" aria-hidden="true"/>
        Выйти
      </button>
    </div>

  </div>
</template>

<script>
  import LeftPanel from "./Left";
  import RightPanel from "./Right/index";
  import {mapGetters, mapActions} from 'vuex';

  export default {
    name: 'Contacts',
    components: {
      LeftPanel,
      RightPanel
    },
    data() {
      return {
        panel: false,
        contact: {},
        newContact: false
      }
    },
    computed: {
      ...mapGetters({
        auth: 'auth/auth',
        block: 'auth/block',
      })
    },
    methods: {
      ...mapActions({
        logout: 'auth/logout'
      }),
      addContact() {
        this.panel = true;
        this.newContact = true;
        this.contact = {};
      },
      showContact(contact) {
        this.panel = true;
        this.newContact = false;
        this.contact = contact
      },
      clearContact() {
        this.panel = false;
        this.contact = {}
      }
    }
  }
</script>

<style lang="scss">
  .contacts {
    display: flex;
  }
  .logout {
    background: white;
    margin: 24px;
    height: 74px;
    padding: 8px;
    width: 128px;
    position: fixed;
    right: 0;
    button {
      color: #2d7dff;
      cursor: pointer;
      &:disabled {
        background: #dadada;
        color: gray;
        cursor: default;
      }
    }
  }
</style>