<template>
  <div class="left-panel">
    <div class="left-panel-header">
      <div class="left-panel-header-left">
        <i class="fa fa-search" aria-hidden="true"/>
        <input type="text">
      </div>
      <i 
          class="fa fa-plus" 
          aria-hidden="true"
          @click="$emit('addContact')"
      />
    </div>

    <div v-if="true" class="left-panel-body">
      <div
          v-for="(contact, index) in contacts"
          :key="index"
          class="left-panel-body-contact"
          @click="$emit('showContact', contact)"
      >
        <div class="left-panel-body-contact--image">
          <img src="../../../static/image/no_face.jpeg" :alt="contact.name">
        </div>
        <div class="left-panel-body-contact--info">
          <div class="left-panel-body-contact--info-name">
            {{contact.name}}
          </div>
          <div class="left-panel-body-contact--info-phone">
            {{contact.phone}}
          </div>
        </div>
      </div>
    </div>

    <div v-else class="left-panel-empty">
      Контактов нет
    </div>
  </div>
</template>

<script>
  export default {
    name: "Left",
    data() {
      return {
        contacts: [
          {
            photo: '',
            name: 'Andy Riga',
            phone: '+79038010774',
            skype: 'andyriga69',
            email: 'riga6990@mail.ru',
            address: 'г Тверь, ул Пески, д. 22',
            birthday: '05.04.1990',
            notes: 'Мой первый добавленный контакт'
          },
          {
            photo: '',
            name: 'Max Jiga',
            phone: '+79038054214',
            skype: '',
            email: '',
            address: '',
            birthday: '',
            notes: ''
          },
          {
            photo: '',
            name: 'Nigga',
            phone: '424843',
            skype: 'niganica',
            email: 'niganica@mail.ru',
            address: 'Москва, ул Сходненская, дом 144',
            birthday: '07.04.1981',
            notes: 'Просто нигга'
          },
          {
            photo: '',
            name: 'Neymar JR',
            phone: '+79520124444',
            skype: '',
            email: '',
            address: 'Париж',
            birthday: '01.12.1993',
            notes: 'Футболист'
          },
          {
            photo: '',
            name: 'Mama',
            phone: '+79040121412',
            skype: 'rusina60',
            email: 'rusina60@yandex.ru',
            address: '',
            birthday: '08.02.1960',
            notes: 'Мой второй добавленный контакт'
          },
          {
            photo: '',
            name: 'Ромик',
            phone: '+79266007737',
            skype: '',
            email: '',
            address: '',
            birthday: '',
            notes: ''
          },
          {
            photo: '',
            name: 'Жорик Вартанов',
            phone: '+79266007730',
            skype: '',
            email: '',
            address: '',
            birthday: '',
            notes: ''
          },
          {
            photo: '',
            name: 'Леха уродов',
            phone: '+79038053312',
            skype: '',
            email: '',
            address: '',
            birthday: '',
            notes: ''
          },
          {
            photo: '',
            name: 'Denis Igorev',
            phone: '550148',
            skype: '',
            email: '',
            address: '',
            birthday: '03.12.1958',
            notes: ''
          },
          {
            photo: '',
            name: 'Максим Пэйн',
            phone: '+79038997123',
            skype: '',
            email: '',
            address: '',
            birthday: '',
            notes: 'Последний контакт'
          },
          {
            photo: '',
            name: 'Саша Чулков',
            phone: '+79265307737',
            skype: '',
            email: '',
            address: '',
            birthday: '',
            notes: ''
          },
          {
            photo: '',
            name: 'Кот',
            phone: '+79265307737',
            skype: '',
            email: '',
            address: '',
            birthday: '',
            notes: ''
          },
          {
            photo: '',
            name: 'Андрей Жуков',
            phone: '+79265307737',
            skype: '',
            email: '',
            address: '',
            birthday: '',
            notes: ''
          },
          {
            photo: '',
            name: 'Дед',
            phone: '+79265307737',
            skype: '',
            email: '',
            address: '',
            birthday: '14.12.1938',
            notes: ''
          },
          {
            photo: '',
            name: 'Наркодилер',
            phone: '+7926312737',
            skype: '',
            email: '',
            address: '',
            birthday: '',
            notes: 'Наркота ла ла ла'
          },
        ],
        selected: {}
      }
    }
  }
</script>

<style scoped lang="scss">
  .left-panel {
    width: 400px;
    height: calc(100vh - 48px);
    margin: 24px;
    background: white;

    &-header {
      display: flex;
      justify-content: space-between;
      margin: 12px;

      &-left {
        .fa-search {
          margin-right: 8px;
        }

        input {
          width: 250px;
        }
      }

      .fa-plus {
        font-size: 24px;
        color: green;

        &:hover {
          cursor: pointer;
          color: #42b983;
        }
      }
    }

    &-body {
      height: calc(100vh - 100px);
      overflow: auto;

      &-contact {
        border-bottom: 1px solid #cecece;
        padding: 8px;
        display: flex;

        &:hover {
          background: #dadada;
          cursor: pointer;
        }

        &:last-child {
          border-bottom: none;
        }
        &--image {
          width: 50px;
          height: 50px;
          border: 1px solid #cecece;
          img {
            width: 48px;
            height: 48px;
          }
        }
        &--info {
          text-align: left;
          padding-left: 12px;
          &-name {
            font-weight: 500;
            margin-bottom: 4px;
          }
          &-phone {
            color: grey;
          }
        }
      }
    }

    &-empty {
      height: calc(100vh - 48px);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
</style>