<template>
  <div>
    <modal
        :message="'Отправить сообщение '"
        v-show="false"
    >
      <template v-slot:content>
        <textarea
            v-model="sms"
            class="contact-description"
            placeholder="Напишите сообщение"
        />
      </template>
      <template v-slot:button>
        <button
            class="save"
        >
          Отправить
        </button>
        <button
            class="cancel"
        >
          Отмена
        </button>
      </template>
    </modal>

    <modal
        :message="'Позвонить по скайпу '"
        v-show="false"
    >
      <template v-slot:content>
        <div class="contact-text">В разработке</div>
      </template>

      <template v-slot:button>
        <button
            class="cancel"
        >
          Отмена
        </button>
      </template>
    </modal>

    <modal
        :message="'Отправить Email '"
        v-show="false"
    >
      <template v-slot:content>
        <input
            v-model="email.title"
            type="text"
            class="contact-title"
            placeholder="Тема"
        >
        <textarea
            v-model="email.description"
            class="contact-description"
            placeholder="Описание"
        />
      </template>
      <template v-slot:button>
        <button
            class="save"
        >
          Отправить
        </button>
        <button
            class="cancel"
        >
          Отмена
        </button>
      </template>
    </modal>
  </div>
</template>

<script>
  import Modal from "@/components/Modal";
  export default {
    name: "ContactBar",
    components: {
      Modal
    },
    data() {
      return {
        sms: '',
        email: {
          title: '',
          description: ''
        }
      }
    }
  }
</script>

<style scoped lang="scss">
  .contact {
    &-description {
      width: 376px;
      height: 130px;
      margin-bottom: 12px;
      padding: 12px;
    }
    &-text {
      margin-bottom: 12px;
    }
    &-title {
      width: 394px;
      margin-bottom: 12px;
    }
  }
</style>