<template>
  <div class="right-panel">
    <i 
        class="fa fa-close" 
        aria-hidden="true"
        @click="$emit('clearContact')"
    />
    <div class="right-panel-header">
      <img src="../../../../static/image/no_face.jpeg" alt="">
      <div v-show="!newContact">
        <span>{{contact.name}} </span>
        <i
            class="fa fa-pencil"
            aria-hidden="true"
            @click="redactionName = !redactionName"
        />
      </div>
    </div>

    <div class="right-panel-icons">

      <div class="right-panel-icons-icon" :class="{'blocker': newContact}" title="Позвонить">
        <a href="tel:+1-555-555-1212" class="right-panel-icons-phone">
          <i class="fa fa-phone" aria-hidden="true"/>
        </a>
      </div>
      <div class="right-panel-icons-icon" :class="{'blocker': newContact}" title="Отправить смс">
        <i class="fa fa-comments-o" aria-hidden="true"/>
      </div>
      <div class="right-panel-icons-icon" :class="{'blocker': newContact}" title="Позвонить по скайпу">
        <i class="fa fa-skype" aria-hidden="true"/>
      </div>
      <div class="right-panel-icons-icon" :class="{'blocker': newContact}" title="Отправить Email">
        <i class="fa fa-envelope-o" aria-hidden="true"/>
      </div>
    </div>

    <contact-bar></contact-bar>

    <div class="right-panel-contacts">

      <div v-show="redactionName || newContact" class="right-panel-contacts-section">
        <div class="right-panel-contacts-section-icon">
          <i class="fa fa-user" aria-hidden="true"/>
        </div>
        <div class="right-panel-contacts-section-contact">
          <div>Фамилия Имя Отчество</div>
          <input type="text" v-model="contact.name" :class="{'error-input': nameError}">
          <div class="error-text">{{nameError}}</div>
        </div>
      </div>

      <div class="right-panel-contacts-section">
        <div class="right-panel-contacts-section-icon">
          <i class="fa fa-phone" aria-hidden="true"/>
        </div>
        <div class="right-panel-contacts-section-contact">
          <div>Телефон</div>
          <input type="text" v-model="contact.phone" :class="{'error-input': phoneError}">
          <div class="error-text">{{phoneError}}</div>
        </div>
      </div>

      <div class="right-panel-contacts-section">
        <div class="right-panel-contacts-section-icon">
          <i class="fa fa-skype" aria-hidden="true"/>
        </div>
        <div class="right-panel-contacts-section-contact">
          <div>Skype</div>
          <input type="text" v-model="contact.skype">
        </div>
      </div>

      <div class="right-panel-contacts-section">
        <div class="right-panel-contacts-section-icon">
          <i class="fa fa-envelope-o" aria-hidden="true"/>
        </div>
        <div class="right-panel-contacts-section-contact">
          <div>Email</div>
          <input type="text" v-model="contact.email">
        </div>
      </div>

      <div class="right-panel-contacts-section">
        <div class="right-panel-contacts-section-icon">
          <i class="fa fa-home" aria-hidden="true"/>
        </div>
        <div class="right-panel-contacts-section-contact">
          <div>Адрес</div>
          <input type="text" v-model="contact.address">
        </div>
      </div>

      <div class="right-panel-contacts-section">
        <div class="right-panel-contacts-section-icon">
          <i class="fa fa-birthday-cake" aria-hidden="true"/>
        </div>
        <div class="right-panel-contacts-section-contact">
          <div>Дата рождения</div>
          <input type="text" v-model="contact.birthday">
        </div>
      </div>

      <div class="right-panel-contacts-section">
        <div class="right-panel-contacts-section-icon">
          <i class="fa fa-address-card-o" aria-hidden="true"/>
        </div>
        <div class="right-panel-contacts-section-contact">
          <div>Заметки</div>
          <input type="text" v-model="contact.notes">
        </div>
      </div>
    </div>

    <div class="right-panel-events">
      <span
          v-if="newContact"
          @click="openAddModal"
          class="add"
      >
        Сохранить контакт
      </span>
      <span
          v-else
          @click="removeModal = true"
          class="remove"
      >
        Удалить контакт
      </span>
    </div>

    <modal
        :message="'Добавить этот контакт?'"
        v-show="addModal"
    >
      <template v-slot:button>
        <button
            :disabled="isDisabled"
            class="save"
            @click="addContact"
        >
          Добавить
        </button>
        <button
            :disabled="isDisabled"
            @click="addModal = false"
            class="cancel"
        >
          Отмена
        </button>
      </template>
    </modal>

    <modal
        :message="`Удалить этот контакт ${contact.phone}?`"
        v-show="removeModal"
    >
      <template v-slot:button>
        <button
            :disabled="isDisabled"
            class="save"
            @click="removeContact"
        >
          Удалить
        </button>
        <button
            :disabled="isDisabled"
            @click="removeModal = false"
            class="cancel"
        >
          Отмена
        </button>
      </template>
    </modal>
  </div>
</template>

<script>
  import ContactBar from "./ContactBar";
  import Modal from "@/components/Modal";
  export default {
    name: "RightPanel",
    components: {
      ContactBar,
      Modal
    },
    props: {
      contact: {
        default: () => {}
      },
      newContact: {
        default: false
      }
    },
    data() {
      return {
        isDisabled: false,
        addModal: false,
        removeModal: false,
        redactionName: false,
        nameError: '',
        phoneError: '',
      }
    },
    watch: {
      'contact.name'(name) {
        if (name.length < 2) {
           this.nameError = 'Заполните ФИО'
        } else {
          this.nameError = ''
        }
      },
      'contact.phone'(name) {
        if (name.length < 7) {
          this.nameError = 'Укажите телефон'
        } else {
          this.nameError = ''
        }
      }
    },
    methods: {
      openAddModal() {
        if (this.contact.name === undefined || this.contact.name.length < 2) {
            this.nameError = 'Заполните ФИО';
        }
        if (this.contact.phone === undefined || this.contact.phone.length < 7) {
          this.phoneError = 'Укажите телефон';
        }
        if (this.contact.name !== undefined && this.contact.name.length > 1 && this.contact.phone !== undefined && this.contact.phone.length > 6) {
          this.addModal = true
        }
      },
      addContact() {
        this.isDisabled = true;
        alert('add')
      },
      removeContact() {
        this.isDisabled = true;
        alert('remove')
      }
    }
  }
</script>

<style scoped lang="scss">
  .right-panel {
    .fa-close {
      font-size: 24px;
      color: red;
      position: absolute;
      right: 8px;
      &:hover {
        color: #ff5050;
        cursor: pointer;
      }
    }
    position: relative;
    width: 400px;
    height: 100%;
    margin: 24px;
    background: white;
    padding: 8px;
    &-header {
      img {
        width: 100px;
        height: 100px;
      }
      .fa-pencil {
        cursor: pointer;
      }
    }
    &-icons {
      display: flex;
      justify-content: space-evenly;
      padding: 16px 0;
      border-bottom: 1px solid #cecece;
      &-phone {
        width: 60px;
        height: 40px;
        margin-top: 20px;
        color: black;
      }
      &-icon {
        width: 60px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #cecece;
        border-radius: 2px;
        &:hover {
          cursor: pointer;
          background: #42b983;
          border: 1px solid green;
        }
        &.blocker {
          opacity: 0.3;
          pointer-events: none;
        }
      }
    }
    &-contacts {
      padding: 16px 0;
      text-align: left;
      &-section {
        display: flex;
        align-items: center;
        padding: 8px;
        &-icon {
          margin-right: 12px;
          font-size: 20px;
        }
        &-contact {
          input {
            width: 210px;
          }
          .error-input {
            border: 1px solid red;
          }
          .error-text {
            color: red;
          }
        }
      }
    }
    &-events {
      cursor: pointer;
      .add {
        color: green;
        &:hover {
          color: #42b983
        }
      }
      .remove {
        color: red;
        &:hover {
          color: #ff5050
        }
      }
    }
  }
</style>